#title{
    align: center;
    color: #abcdef;
    padding-bottom:22 px;
	font-family: Lucida Sans;
	text-align: center;
}

table{
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin-left: 20px;
}
table.hovertable tr {
	background-color:#D4E3E5;
}

table.hovertable tr.hov:hover {
	background-color:#939EB2;
}

table.hovertable th {
	
	border: 1px solid #999999;
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}


table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}


